@charset "UTF-8";

@font-face {
	font-family: 'DNFForgedBlade';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')
		format('opentype');
}
* {
	font-family: 'DNFForgedBlade';
	font-weight: 1em;
	/* text-align:center; */
}
a {
	text-decoration: none;
	color: inherit;
}
.top {
	font-size:1.2em;
	width: 100%;
	height: 2.7em;
	background-color: #EDEDED;
}

.toptable {
	width: 100%;
}
.toptable tr td {
	/* border:1px solid black; */
	
}
.logo {
	height: 2.5em;
}

.top1 {
	text-align: left;
}
.top2 {
	text-align: right;
	padding-right: 1em;
}
.top3 {
	width: 5.5em;
	text-align: center;
}
.top4 {
	width: 4em;
	text-align: right;
	padding-right: 1em;
}

button:hover{
	box-shadow: 2px 2px 3px 1px #898383;
}


.content{
	width:100%;
	display:block;
}
.detail{
	margin-top:3%;
}
.dTable1, .dTable2, .dTable3, .dTable4{
	margin:auto;
	width:80%;
}
.dTable2 tr td, .dTable3 tr td,  .dTable4 tr td {
	border: 1px solid black;
}
.d1td1{
	width:25%;
	padding-right:15px;
}
.cover{
	width:100%;
	height:320px;
	background-color:#D9D9D9;
	margin:auto;
}
.d1td2{
	font-size:23px;
}
.d1td7, .d1td14{
	padding-top:10px;
	padding-bottom:10px;
}
.d1td3{
	width:5%;
	text-align:center;
}
.d1td8{
	font-size:16px;
	padding-bottom:10px;
}
.d1td13{
	color:#2D9462;
}
.black{
	color:black;
}

.d2td1, .d3td1{
	display:inline-block;
	justify-content: flex-start;
	width:100%;
	font-size:30px;
}
.d4td1{
	/* display:inline-block;
	justify-content: flex-start; */
	width:25%;
	font-size:30px;
}
.d2td2, .d3td2 {
	width:75%;
}

.d4td2{
	width:100%;
}
.radioTable{
	width:100%;
}
.radioTabletr{
	width:70%;
}
.star{
	width:18px;
	padding-top:2px;
}
.rTextareatd{
	width:50%;
}
.rTextarea{
	padding:1px;
	background-color: #EDEDED;
	border:none;
	border-radius:15px 15px 15px 15px;
	width:100%;
	margin:5px;
	font-size:15px;
}
.rSubmitbt{
	background-color:#2D9462;
	color:white;
	margin-left:1em;
	padding:0.9em;
	border:none;
	border-radius:15px;
	box-shadow: 2px 3px #898383;
	font-size:1em;
	width:50%;
	height:98px;
}
.rSubmittd{
	width:30%;
}

.dTable4 table tr td{
	/* padding-right:1px;
	padding-top:1px;
	padding-bottom:1px; */
}
.reviewTabletr{
	/* width:100%; */
	/* margin-bottom:3px; */
}
.reviewTabletd{
	font-size:14px;
}


.Page{
	/* width:100%; */
	margin-top:2em;
	margin-left:41%;
}
.PageTable{
	margin-bottom:1.5em;
}
.PageTable tr td{
	text-align:center;
	/* border:solid 1px black; */
	width:0.5em;
}
.bold{
	font-weight: bold;
}
.pageLogotd{
	padding-top:5px;
}
.pageLogo{
	width:28px;
}
