@charset "UTF-8";

@font-face {
	font-family: 'DNFForgedBlade';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')
		format('opentype');
}
* {
	font-family: 'DNFForgedBlade';
	font-weight: 1em;
	/* text-align:center; */
}
a {
	text-decoration: none;
	color: inherit;
}
.top {
	font-size:1.2em;
	width: 100%;
	height: 2.7em;
	background-color: #EDEDED;
}

.toptable {
	width: 100%;
}
.toptable tr td {
	/* border:1px solid black; */
	
}
.logo {
	height: 2.5em;
}

.top1 {
	text-align: left;
}
.top2 {
	text-align: right;
	padding-right: 1em;
}
.top3 {
	width: 5.5em;
	text-align: center;
}
.top4 {
	width: 4em;
	text-align: right;
	padding-right: 1em;
}

button:hover{
	box-shadow: 2px 2px 3px 1px #898383;
}


.content{
	width:100%;
	display:block;
}
.detail{
	margin-top:3%;
}
.dTable1, .dTable2, .dTable3, .dTable4{
	margin:auto;
	width:80%;
}
.dTable2 tr td, .dTable3 tr td,  .dTable4 tr td {
	/* border: 1px solid black; */
}
.d1td1{
	width:25%;
	padding-right:15px;
}
.cover{
	width:100%;
	height:330px;
	background-color:#D9D9D9;
	margin:auto;
}
.d1td2{
	font-size:23px;
}
.d1td2, .d1td4, .d1td5{
	padding-top:5px;
	padding-bottom:5px;
}
.d1td7, .d1td14{
	padding-top:10px;
	padding-bottom:10px;
}
.d1td3{
	width:5%;
	text-align:center;
}
.d1td8, .d1td9, .d1td10{
	font-size:16px;
	padding-bottom:7px;
}
.d1td13{
	color:#2D9462;
	padding-top:8px;
}
.black{
	color:black;
}

.dTable2{
	display:flex;
	justify-content: flex-start;
	margin-top:3px;
}
.d2td1{
	font-size:30px;
	width:25%;
}
.d2td1, .d2td2{
	min-height: 200px;	
	display:inline-block;
	justify-content: flex-start;
	
}
.d2td2{
	font-size:17px;
	letter-spacing: 1px;
	line-height:1.5;
}
.d4td1{
	vertical-align: top;
	width:25%;
	font-size:30px;
}
.d2td2, .d3td2 {
	width:72%;
}

.d4td2{
	width:100%;
}
.radioTable{
	width:100%;
}
.radioTabletr{
	width:70%;
}
.star{
	width:18px;
	padding-top:2px;
}
.rTextareatd{
	/* width:70%; */
}
.rTextarea{
	padding:5px;
	background-color: #EDEDED;
	border:none;
	border-radius:15px 15px 15px 15px;
	width:90%;
	margin:10px;
	font-size:16px;
}
.rSubmittd{
	width:35%;
}
.rSubmitbt{
	background-color:#2D9462;
	color:white;
	padding:1em;
	border:none;
	border-radius:15px;
	box-shadow: 2px 3px #898383;
	font-size:1em;
	width:97%;
	height:114px;
}

.dTable4{
	font-size:18px;
}
.reviewTabletr{
	width:15%;
}
.reviewTabletd0, .reviewTabletd1, .reviewTabletd2{
	font-size:14px;
	padding-top:3px;
	padding-bottom:20px;
	color:#6C6A6A;
}
.reviewTabletd1{
	width:20%;
	
}

.Page{
	/* width:100%; */
	margin-top:2em;
	margin-left:41%;
}
.PageTable{
	margin-bottom:1.5em;
}
.PageTable tr td{
	text-align:center;
	/* border:solid 1px black; */
	width:0.5em;
}
.bold{
	font-weight: bold;
}
.pageLogotd{
	padding-top:5px;
}
.pageLogo{
	width:28px;
}
