@charset "UTF-8";

@font-face {
	font-family: 'DNFForgedBlade';
	font-style: normal;
	font-weight: 300;
	src: url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf') format('opentype');
}

* {
	font-family: 'DNFForgedBlade';
	font-weight: 1em;
	text-align:center;
}	
a{
	text-decoration: none;
	color: inherit;
}

.top{
	font-size:1.2em;
	width:100%;
	height:2.7em;
	background-color:#EDEDED;
}
.toptable{
	width:100%;
}
.logo {
	height: 2.5em;
}
.top1{
	text-align:left;
}
.top2{
	text-align:right;
	padding-right:1em;
}
.top3{
	width:3em;
	text-align:right;
	padding-right:1em;
}
.toptable tr td{
	/* border:1px solid black; */
}

button:hover{
	/* box-shadow: 2px 2px 3px 1px #898383; */
}

.mid{
	width:100%;
	height:5em;
	padding-top:3em;
	background-color:#2D9462;
	color:white;
	font-size:38px;
	justify-content : center;
}

.search{
	margin:1.5em;
	display: inline-flex;
	background-color:#EDEDED;
	width:35em;
}
.searchimg{
	padding-top:0.5em;
	padding-left:0.5em;
	width:40px;
	height:40px;
}
.searchinput{
	padding-left:1em;
	width:24em;
	height:2em;
	font-size:1.2em;
	color:#616161;
	border:none;
	background-color:#EDEDED;
	text-align:left;
}



.bestseller .newBooks{
	width:100%;
	margin:auto;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bshead{
	width:65%;
	margin:auto;
}
.bsbutton{
	background-color:#2D9462;
	color:white;
	margin-left:0.5em;
	padding:0.7em;
	border:none;
	border-radius:15px;
	/* box-shadow: 5px 5px #898383; */
	font-size:1em;
}
.bshead1{
	text-align:left;
	font-size:1.4em;
}
.bshead2{
	text-align:right;
	font-size:1.2em;
}
.bestseller table tr td{
	border:1px solid black;
}

.bsDiv{
	background-color:#EDEDED;
	width:65%;
	margin:auto;
	
	display: flex; /* Flexbox를 사용합니다. */
    justify-content: space-between; /* 요소들을 동일한 간격으로 배치합니다. */
    flex-wrap: wrap; /* 요소들이 넘치면 다음 줄로 내려가도록 설정합니다. */
}

.bestseller .bsDiv .bslist {
    display: flex; /* Flexbox를 사용하여 요소들을 수평으로 배치합니다. */
    flex-wrap: wrap; /* 요소들이 넘치면 다음 줄로 내려가도록 설정합니다. */
    justify-content: space-between; /* 요소들을 동일한 간격으로 배치합니다. */
    align-items: flex-start; /* 요소들을 수직으로 상단 정렬합니다. */
}

.bslist {
    flex: 0 0 calc(25% - 1em); /* 각 요소의 너비를 25%로 설정하고 좌우 마진을 1em씩 빼서 겹치지 않게 합니다. */
    margin: 0.5em; /* 각 요소 사이의 간격을 조절합니다. */
    padding: 2em; /* 요소 내부의 여백을 설정합니다. */
    display: flex; /* 각 항목을 수평으로 배치하기 위해 Flexbox를 사용합니다. */
    flex-direction: column; /* 항목을 세로로 배열합니다. */
    align-items: center; /* 각 항목을 수평으로 가운데 정렬합니다. */
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
}

.bslist tr td {
	text-align:left;
	/* padding-left:2.5em; */
	padding-bottom:0.5em
}
.bookimg{
	text-align:center;
	background-color:#D9D9D9;
	width:9em;
	height:10em;
}
.bsTd{
	width:15%;
}
