@charset "UTF-8";

@font-face {
	font-family: 'DNFForgedBlade';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')
		format('opentype');
}

* {
	font-family: 'DNFForgedBlade';
	font-weight: 1em;
	/* text-align:center; */
}

a {
	text-decoration: none;
	color: inherit;
}

.top {
	font-size:1.2em;
	width: 100%;
	height: 2.7em;
	background-color: #EDEDED;
}

.toptable {
	width: 100%;
}

.toptable tr td {
	/* border:1px solid black; */
	
}

.logo {
	height: 2.5em;
}

.top1 {
	text-align: left;
}

.top2 {
	text-align: right;
	padding-right: 1em;
}

.top3 {
	width: 5.5em;
	text-align: center;
}

.top4 {
	width: 4em;
	text-align: right;
	padding-right: 1em;
}

button:hover {
	box-shadow: 2px 2px 3px 1px #898383;
}

.content{
	display:inline-flex;
	width:100%;
}

.naviTable tr td {
	/* border: 1px solid black; */
}

.navi {
	width: 13%;
	height: 300px;
	padding-top: 1em;
	padding-left: 1.5em;
	background-color: #2D9462;
	color: white;
}
.naviTable {
	width: 100%;
}
.navi1{
	font-size: 1.5em;
}
.navi2 {
	padding-top: 0.8em;
	color: black;
	padding-left: 1.5em;
}

.navi3 {
	padding-top: 0.8em;
	padding-left: 1.5em;
}

.navi4 {
	padding-top: 0.8em;
	padding-left: 1.5em;
}
.naviA{
	transition: all 0.2s ease; /* 모든 속성에 대해 0.3초 동안 부드러운 효과를 적용합니다 */
    display: inline-block;
    font-size: 1.3em;
}
.naviA:hover {
	transform: translate(2px, 2px);
}

.memberEdit{
	/*border:1px solid black; */
	width:80%;
	margin-left:2.5em;
	margin-top:1em;
}
.memberEditSpan{
	font-size:2em;
}
.Edit{
	/* border:1px solid black; */
	width:70%;
	margin-top:1.5em;
	background-color:#EDEDED;
	font-size:1.1em;
	padding:1em;
}
.EditTable{
	width:70%;
	margin-bottom:1.5em;
}
.Edit tr td{
	/* border:1px solid black; */
}
.Edit tr td:not(.text1, .text2) {
	padding-top:1.2em;
	padding-left:0.7em;
	padding-right:0.7em;
}
.EditTable tr td:nth-child(1){
	width:15%;
}
.EditTable tr td:nth-child(2){
	width:30%;
}
.EditTable tr td:nth-child(3){
	width:10%;
}
.pw, .pwCheck, .nickName{
	width:95%;
	text-align:left;
	height:2.2em;
	border:none;
}
.pwImg{
	margin-top:2px;
	width:20px;	
}
.NickNameCheck{
	border:none;
	box-shadow: 2px 3px #898383;
	background-color:#2D9462;
	border-radius:15px;
	color:white;
	padding:0.7em;
	font-size:0.7em;
	min-width:35%;
}
.text1{
	color:#2D9462;
	font-size:0.8em;
	padding-left:1em;
}
.text2{
	color:red;
	font-size:0.8em;
	padding-left:1em;
}