@charset "UTF-8";

@font-face {
	font-family: 'DNFForgedBlade';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')
		format('opentype');
}
* {
	font-family: 'DNFForgedBlade';
	font-weight: 1em;
	/* text-align:center; */
}
a {
	text-decoration: none;
	color: inherit;
}
.top {
	font-size:1.2em;
	width: 100%;
	height: 2.7em;
	background-color: #EDEDED;
}

.toptable {
	width: 100%;
}
.toptable tr td {
	/* border:1px solid black; */
	
}
.logo {
	height: 2.5em;
}

.top1 {
	text-align: left;
}
.top2 {
	text-align: right;
	padding-right: 1em;
}
.top3 {
	width: 5.5em;
	text-align: center;
}
.top4 {
	width: 4em;
	text-align: right;
	padding-right: 1em;
}

.content{
	display:inline-flex;
	width:100%;
}

.naviTable tr td {
	/* border: 1px solid black; */
}
.navi {
	width: 13%;
	height: 300px;
	padding-top: 1em;
	padding-left: 1.5em;
	background-color: #2D9462;
	color: white;
}
.naviTable {
	width: 100%;
}
.navi1{
	font-size: 1.5em;
}
.navi2 {
	padding-top: 0.8em;
	padding-left: 1.5em;
	
}
.navi3 {
	color: black;
	padding-top: 0.8em;
	padding-left: 1.5em;
}
.navi4 {
	padding-top: 0.8em;
	padding-left: 1.5em;
}
.naviA{
	transition: all 0.2s ease; /* 모든 속성에 대해 0.3초 동안 부드러운 효과를 적용 */
    display: inline-block;
    font-size: 1.3em;
}
.naviA:hover {
	transform: translate(2px, 2px);
}

.myReview{
	width:80%;
	margin-left:2.6em;
	margin-top:1em;
}
.myReviewSpan{
	font-size:2em;
}

.reviewTableDiv{
	width:100%;
	margin-top:1.7em;
	margin-bottom:1em;
}
.reviewTable{
	width:70%;
	padding:0.5em;
	margin-bottom:2%;
	margin-right:3%;
	background-color:#EDEDED;
	
	position: relative;
	/* 부모 요소에 상대적으로 위치를 설정합니다. */
}
.reviewTable tr td{
	/* border:1px solid black; */
	padding-right:5px;
	padding-left:5px;
}
.bookImg{
	background-color:#D9D9D9;
	width:100%;
	height:130px;
	height:180px;
}
.myReviewtd1{
	width:15%;
}
.myReview1td2{	/* 도서 제목 */
	font-size:18px;
}
.myReview1td3{
	width:3%;
}
.menu{
	width:19px;
	
	/* position: relative;  */
}
.myReview2td2{	/* 작가 */
	font-size:15px;
}
.myReview3td2{
	font-size:12px;
}
.myReview4td2{	/* 리뷰 등록일 */
	font-size:14px;
}
.myReview5td2{	/* 별점 */
	font-size:13px;
}
.star{
	width:18px;
}
.myReview6td2{		/* 리뷰 내용 */
	font-size:18px;
}


.reviewPage{
	/* width:100%; */
	margin-top:2em;
	margin-left:41%;
}
.reviewPageTable{
	margin-bottom:1.5em;
}
.reviewPageTable tr td{
	text-align:center;
	/* border:solid 1px black; */
	width:0.5em;
}
.bold{
	font-weight: bold;
}
.pageLogotd{
	padding-top:5px;
}
.pageLogo1{
	margin-top:5px;
	width:21px;
}
.pageLogo2{
	margin-top:5px;
	width:19px;
}

.menuDiv{
	display: none; /* 기본적으로 메뉴를 숨깁니다. */
    position: absolute;
    top: 19%; 
	left:94%;

    z-index: 1;
}
.menuTable {
	width: 65px;
	text-align: center;
	
	background-color: white;
	border: 1px solid #ccc;
}
.menuTable tr td:hover{
	background-color: #2D9462;
	color:white;
}

.updateForm{
	display:inline-flex;
	position:fixed;
	top:180px;
	left:35%;
	z-index:1;
	padding:40px;
	background-color: #D9D9D9;
	align-items: center;
	justify-content: center;
	border-radius:25px;
	display:none;
}
.updateFormTable tr td{
	/* border:1px solid black; */
}
.radioTd{
	padding-bottom:15px;
}
.updateReviewArea{
	width:100%;
	height:90%;
	font-size:19px;
	padding:5px;
}
.updateBt{	
	background-color:#2D9462;
	color:white;
	padding:1em;
	border:none;
	border-radius:15px;
	box-shadow: 2px 3px #898383;
	font-size:1em;
	display:inline-flex;
	justify-content: center;
	width:20%;
	height:50px;
	box-sizing: border-box;
	margin-top:27px;
	margin-left:39%;
}
