<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.cord.book.BookMapper">

<!-- SELECT * FROM REVIEW WHERE ISBN13=#{isbn13} order by review_num desc; -->
	<select id="getDetailReviewList" parameterType="map" resultType="com.book.cord.mypage.ReviewVO">
		
		<![CDATA[
        SELECT 
            REVIEW_NUM, MEMBER_ID, STARS, TITLE, AUTHOR, ISBN13, COVER, CONTENT, REG_DATE
        FROM (
            SELECT 
                rownum rn, REVIEW_NUM, MEMBER_ID, STARS, TITLE, AUTHOR, ISBN13, COVER, CONTENT, REG_DATE
            FROM 
                REVIEW
            WHERE 
                isbn13 = #{isbn13, jdbcType=VARCHAR}
                AND rownum <= #{pageNum} * #{amount}
            ORDER BY 
                REVIEW_NUM DESC
        )
        WHERE 
            rn > (#{pageNum} - 1) * #{amount}
        ORDER BY 
            REVIEW_NUM DESC
    ]]>
    
	</select>
	
	<select id="detailReviewTotal" resultType="int">
		SELECT COUNT(*) FROM REVIEW WHERE ISBN13=#{isbn13}
	</select>
   
</mapper>
