<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- com/book/cord/login/MemberMapper.xml -->
<mapper namespace="com.book.cord.login.MemberDAO">
    <insert id="insertMember" parameterType="com.book.cord.login.MemberVO">
        INSERT INTO member (id, pwd, name, reg_date, member_num) VALUES (#{id}, #{pwd}, #{name}, SYSDATE, member_num_seq.NEXTVAL)
    </insert>
</mapper>
